<app-room-header [appUser]="appUser"
                 [room]="room$ | async"></app-room-header>

<!-- <p>
  room works: {{roomKey}}
  <br/> user: {{appUser | json}}
  <br/> room: {{room$ | async | json}}

</p> -->

<div *ngIf="room$ | async as room" class="mt-3">
  <div *ngIf="appUser">
    <div *ngIf="appUser.uid === room.ownerId; else guestView">
      <app-room-admin [appUser]="appUser"
                      [room]="room"></app-room-admin>
    </div>
    <ng-template #guestView>
      <app-room-guest [appUser]="appUser"
                      [room]="room"></app-room-guest>
    </ng-template>
  </div>
</div>