<app-room-header [appUser]="appUser"
                 [room]="room$ | async"
                 [isRoomNotFound]="isRoomNotFound"></app-room-header>

<div *ngIf="room$ | async as room"
     class="mt-3">
  <div *ngIf="appUser">
    <div *ngIf="appUser.uid === room.ownerId; else guestView">
      <app-room-admin [appUser]="appUser"
                      [room]="room"></app-room-admin>
    </div>
    <ng-template #guestView>
      <app-room-guest [appUser]="appUser"
                      [room]="room"></app-room-guest>
    </ng-template>
  </div>
</div>


<div *ngIf="isRoomNotFound"
     class="text-center">
  <p class="display-1 text-muted mt-5 opacity-50">
    <i class="far fa-times-circle"></i>
  </p>
  <span class="text-muted mt-5">The Key is wrong or the Room does not exist anymore.</span>
  <br>
  <button class="btn btn-primary mt-5"
          (click)="onGoHomeClicked()">
    Another Room?
  </button>
</div>