@import "~bootstrap/scss/bootstrap.scss";


div.jumbotron {
    min-width: 350px;
}

@include media-breakpoint-down(sm) { 
    div.jumbotron {
        min-width: 260px;
    }
}

#rootDiv {
    margin-top: -10%;
}