<div *ngIf="room?.guests.length === 0; else guestsView"
     class="text-center">
  <p class="mt-3 text-muted text-smaller mt-5">
    No guests yet.
    <br> Invite some people to your room:
  </p>

  <app-room-share [room]="room"
                  buttonStyle="btn-lg btn-light bg-white text-primary"
                  class="d-block mt-4">
  </app-room-share>
</div>

<ng-template #guestsView>
  <div class="container px-0">
    <h6 class="my-3">Guests</h6>
    <ul class="list-group mt-0 mb-2">
      <div class="list-group-item text-left d-flex align-items-center 
                  border-0 py-2 pl-2"
           *ngFor="let guest of guests">
        <div class="border rounded-circle d-flex justify-content-center align-items-center "
             style="width: 50px; height: 50px;">

          <div *ngIf="isSummarized; else notSummarizedView"
               class="flex-item">
            <h2 *ngIf="guest.mark === ' '; else markView"
                class="text-danger">
              <i class="far fa-times-circle mt-2"></i>
            </h2>
            <ng-template #markView>
              <h1 class="text-success">
                {{guest.mark}}
              </h1>
            </ng-template>
          </div>
          <ng-template #notSummarizedView>
            <div class="flex-item">
              <h2 *ngIf="guest.mark === ' '; else checkView"
                  class="text-warning">
                <i class="far fa-question-circle mt-2"></i>
              </h2>
              <ng-template #checkView>
                <h2 class="text-success">
                  <i class="far fa-check-circle mt-2"></i>
                </h2>
              </ng-template>
            </div>
          </ng-template>
        </div>
        <h4 class="ml-3 text-muted">
          {{guest.name}}
        </h4>
      </div>
    </ul>

    <div class="mt-4">
      <div *ngIf="!isSummarized; else resultView">
        <button class="btn btn-primary d-block mx-auto"
                (click)="onSummarizeClicked()">
          <i class="far fa-check-circle mr-2"></i>
          Summarize!
        </button>
      </div>
      <ng-template #resultView>
        <div class="d-block border-top ">
          <h6 class="mt-4 text-warning"><i class="fas fa-flag-checkered mr-2"></i>Summary</h6>
          <div class="d-flex justify-content-center align-items-center mx-auto mt-1"
               style="width: 100px; height: 150px;">
            <h1 class="display-2  text-success font-weight-bold">
              =&nbsp;{{vote}}&nbsp;=
            </h1>
          </div>

          <button class="btn btn-primary d-block mx-auto mt-4 mb-2"
                  (click)="onNewVotingClicked()">
            <i class="fas fa-sync-alt mr-2"></i>
            New Voting
          </button>
        </div>
      </ng-template>
    </div>
  </div>
</ng-template>