<div class="d-flex">
  <h3>Room</h3>
  <h4 class="ml-2 align-self-end opacity-50">
    {{room?.key}}
  </h4>
  <div class="ml-auto align-self-start"
       *ngIf="!isRoomNotFound">
    <span class="text-muted text-smaller mr-1">
      <i class="fa fa-user "></i>
      ({{room?.guests.length}})
    </span>
    <app-room-share [room]="room"
                    buttonStyle="btn-light bg-white btn-sm">
    </app-room-share>
  </div>
</div>

<div class="border-bottom pb-1"
     *ngIf="!isRoomNotFound">
  <span class="text-info"
        style="margin-left: 1px;">{{room?.name}}</span>
</div>

<div class="border-bottom pb-1"
     *ngIf="isRoomNotFound">
  <span class="text-info"
        style="margin-left: 1px;">Oops! Problem...</span>
</div>