@import "~bootstrap/scss/bootstrap.scss";

.home-row {
    @extend .col-9;
    @extend .col-sm-8;
    @extend .col-md-7;
    @extend .col-lg-6;
    @extend .col-xl-5;
    @extend .m-auto;
}

@include media-breakpoint-down(xs) { 
    .home-row {
        padding: 0px;
    }
    .container {
        padding: 0px;
    }
}


// .list-group button:nth-child(1) {
//     border-top: 0 none;
// }

// .list-group button:last-child {
//     border-bottom: 0 none;
// }

.list-group button {
    overflow: hidden;
}
