/* You can add global styles to this file, and also import other style files */
//@import "~bootstrap/dist/css/bootstrap.css";
//@import "~bootstrap/scss/bootstrap.scss";

html, body {
    height: 100%;
}

.text-smaller {
    font-size: smaller;
}

.debug-box {
    background-color: bisque;
    border-style: solid;
    border-width: 2px;
    border-color: green;
}
